*,
::after,
::before {
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  color: $primary-text-color;
  background-color: $white-color;
  padding-top: 80px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.link {
  color: $title-text-color;

  @include font(14px, 1.14, 500, 0.02em);

  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.list__center {
  @include for-size(mobile) {
  }
  /*   @include for-size(tablet) {@include flexbox(center);
  display: flex;
  } */
  @include for-size(desktop) {
    @include flexbox(center);
    display: flex;
  }
}
