$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$grey-background: #f5f4fa;
$footer-link-color: rgba(255, 255, 255, 0.6);
$secondary-background: #2f303a;
$grey-background: #f5f4fa;
$icon-grey: #afb1b8;
$hover-color: #188ce8;
$hero-background: #c4c4c4;
