.examples {
  @include for-size(tablet-only) {
    display: none;
  }
}

.examples__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.examples__title {
  position: relative;
}

.examples__label {
  @include flexbox(center, center);
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples__text {
  color: $white-color;

  @include font(14px, 1.14, 700);

  text-transform: uppercase;
}
