.feature__section {
  padding-bottom: 0;
}

/* .feature__list {
  @include flexbox(center);
  display: flex;
} */
.feature__block-title {
  margin-bottom: 10px;
  color: $title-text-color;

  @include font(14px, 1.14, 700);

  text-transform: uppercase;
}
/* .feature__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);

  &:last-child {
    margin-right: 0;
  }
} */

.feature__icon-block {
  display: flex;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: $grey-background;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__text {
  @include font(14px, 1.7);
}
