.feature__section {
  @include for-size(desktop) {
    padding-bottom: 0;
  }
}

.feature__list {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    /* @include flexbox(center); */
  }
  @include for-size(desktop) {
    display: flex;
    @include flexbox(center);
  }
}
.feature__block-title {
  margin-bottom: 10px;
  color: $title-text-color;

  @include font(14px, 1.14, 700);

  text-transform: uppercase;
}
.feature__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @include for-size(tablet) {
    margin-right: 30px;

    width: calc((100% - 30px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include for-size(desktop) {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
    &:nth-child(2n) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.feature__icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: $grey-background;
}

.feature__icon {
  width: 70px;
  height: 70px;
}
.feature__text-block {
  @include for-size(mobile-only) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include for-size(mobile) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.feature__text {
  @include font(14px, 1.7);
}
