.footer-block {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background;
}

.address {
  color: $white-color;

  @include font(14px, 1.7);

  font-style: normal;
}
.address__text {
  display: inline-block;
  margin-bottom: 9px;
}

.footer__contact-list {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  display: inline-block;
  color: $footer-link-color;
  font-weight: 400;
}

.footer__container {
  @include for-size(mobile) {
  }
  @include for-size(tablet) {
    @include flexbox(space-around, baseline);
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    @include flexbox($ai: baseline);
    display: flex;
  }
}

.footer__contacts {
  margin-bottom: 60px;
  @include for-size(desktop) {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.join {
  margin-bottom: 60px;

  @include for-size(desktop) {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.join__text {
  @include font(14px, 1.14, 700);
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}

.subscribe__form {
  @include for-size(desktop) {
    display: flex;
    flex-direction: row;
  }
}

.subscribe__input {
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: $secondary-background;
  border-radius: 4px;

  &::placeholder {
    @include font(16px, 1.25);

    color: rgba(255, 255, 255, 0.6);
  }
  width: 100%;
  max-width: 450px;
  @include for-size(tablet) {
    min-width: 450px;
  }

  @include for-size(desktop) {
    min-width: 358px;
    margin-right: 12px;
  }
}
