.hero {
  @include flexbox(center, center);
  display: flex;
  flex-direction: column;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $hero-background;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: $white-color;
  @include font(26px, 1.62, 900, 0.06em);
  width: 100%;
  max-width: 360px;

  @include for-size(desktop) {
    @include font(44px, 1.36, 900, 0.06em);
    max-width: 696px;
  }

  text-transform: uppercase;
}
